<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/alertify.js/themes/alertify.core.css' />
    <link rel='stylesheet' href='/bower_components/alertify.js/themes/alertify.bootstrap.css' />
    <link rel='stylesheet' href='/bower_components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="body">
      <div class="header">
        <div class="container">
          <h1>Quart de travail</h1>
          <p>Ajouter ou enlever des patients, et personnaliser les tâches pour chaque patient</p>
        </div>
      </div>
      <div class="content container" id="content">
      </div>
      <div class="container footer">
        <div class="container">
          <p>Built for <a href="https://twitter.com/search?q=%23HHMTL2014&src=hash">#hhmtl2014</a></p>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="/bower_components/backbone/backbone.js"></script>
  <script type="text/javascript" src="/bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
  <script type="text/javascript" src="/bower_components/alertify.js/lib/alertify.js"></script>
  <script type="text/javascript" src="/bower_components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

  <script type="text/javascript" src="/javascripts/patients-profile.js"></script>
  <script type="text/javascript" src="/javascripts/models/work-quarter.js"></script>
  <script type="text/javascript" src="/javascripts/views/tree-view.js"></script>
  <script type="text/javascript" src="/javascripts/models/tree-node.js"></script>
  <script type="text/javascript" src="/javascripts/models/diagnostic.js"></script>
  <script type="text/javascript" src="/javascripts/views/patient.js"></script>
  <script type="text/javascript" src="/javascripts/models/patient.js"></script>

  <script type="text/template" id="patient-template">
    <div class="form-horizontal col-md-12">
      <div class="pull-right">
        <button class="btn btn-danger remove-patient">X</button>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-sm-2">Numéro</label>
        <div class="col-sm-4">
          <input type="text" class="form-control patient-name" placeholder="Numéro">
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-sm-2">Initiales</label>
        <div class="col-sm-4">
          <input type="text" class="form-control patient-name" placeholder="Initiales">
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="control-label col-sm-2">Diagnostique</label>
        <div class="col-sm-4">
          <select name="type" class="form-control diagnostic-select col-sm-10">
            <option value="">Choisir...</option>
            <option value="accouchement-vaginal-spontane">Accouchement vaginal spontané</option>
            <option value="accouchement-cesarienne">Accouchement par Césarienne</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="control-label col-sm-2">Tâches</label>
        <div class="task-tree-container col-sm-10"></div>
      </div>
    </div>
  </script>

  <script type="text/template" id="patients-template">
    <div class="well row">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="date_start">Début</label>
          <div class="col-sm-4">
            <input class="form-control start-time" type="text" id="date_start">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="date_end">Fin</label>
          <div class="col-sm-4">
            <input class="form-control end-time" type="text" id="date_end">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="patients-container"></div>
      <div class="row">
        <button class="btn btn-success btn-lg add-patient">Ajouter</button>
        <button class="btn btn-info btn-lg save-patients pull-right">Sauvegarder</button>
      </div>
    </form>
  </script>

</html>
