<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="center-block" id="content"></div>
    </div>
  </body>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="/bower_components/backbone/backbone.js"></script>
  <script type="text/javascript" src="/bower_components/backbone.marionette/lib/backbone.marionette.js"></script>

  <script type="text/javascript" src="/javascripts/patients-profile.js"></script>
  <script type="text/javascript" src="/javascripts/views/tree-view.js"></script>
  <script type="text/javascript" src="/javascripts/models/tree-node.js"></script>
  <script type="text/javascript" src="/javascripts/models/diagnostic.js"></script>
  <script type="text/javascript" src="/javascripts/views/patient.js"></script>

  <script type="text/template" id="patient-template">
    <div class="form-inline col-md-12">
      <div class="form-group">
        <label for="name">Nom du patient</label>
        <input type="text" class="form-control" placeholder="Nom du patient">
      </div>
      <div class="form-group">
        <label for="type">Diagnostique</label>
        <select name="type" class="form-control diagnostic-select">
          <option value="accouchement-vaginal-spontane">Accouchement vaginal spontané</option>
          <option value="accouchement-cesarienne">Accouchement par Césarienne</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-danger remove-patient">X</button>
      </div>
    </div>
    <div class="task-tree-container col-md-6"></div>
  </script>

  <script type="text/template" id="patients-template">
    <div class="patients-container"></div>
    <button class="btn btn-success btn-lg add-patient">Ajouter</button>
  </script>
</html>