<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <div class="row">
        <div class="col-md-6"><p>Hello</p></div>
        <div class="col-md-6"><p>World</p></div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="/bower_components/backbone/backbone.js"></script>
  <script type="text/javascript" src="/bower_components/backbone.marionette/lib/backbone.marionette.js"></script>
</html>