body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.patient-row {
  margin-bottom: 10px;
}
.task-tree-container {
  margin-top: 10px;
}
.add-task {
  display: block;
}
.remove-node {
  color: #a94442;
  cursor: pointer;
}
